
######################################################################
# config variables 
######################################################################

######################################################################
#Provider variable


AzureADClientID     = ""
AzureADClientSecret = ""


AzureSubscriptionID = ""
AzureClientID       = ""
AzureClientSecret   = ""
AzureTenantID       = ""

TrainingList = [
    "peter.parker",
    "bruce.wayne",
    "clark.kent",
    "diana.prince",
    "barry.allen",
    "hal.jordan",]

TrainingGroup = ""